@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

:root {
  --primary: #d7b972;
  --secondary: #535AFF;
  --secondary-hover: #434aff;
  --h1-size: calc(30px + 4vw);
  --h2-size: calc(20px + 2vw);
  --h3-size: calc(16px + 1vw);
  --text-mp-size: calc(12px + 0.1vw);
  --text-p-size: calc(14px + 0.2vw);
  --text-m-size: calc(16px + 0.2vw);
  --text-infos-size: calc(10px + 0.5vw);
  --padding-inline: 5vw;
  --padding-inline2: 15vw;
  --light-text: #130f1c;
  --light-text2: #f5f5f5;
  --light-text3: #7b7b7b;
  --light-bg: #f9f9fa;
  --light-bg1: #ffffff;
  --light-bg2: #f1f1f1;
  --light-popup-bg: rgba(213, 216, 225, 0.9);
  --light-infos-box-bg: #a2c1ff;
  --light-filter: #161927bd;
  --dark-text: #f5f5f5;
  --dark-text2: #130f1c;
  --dark-text3: #979797;
  --dark-bg: #161927;
  --dark-bg1: #212433;
  --dark-bg2: #383b4d;
  --dark-popup-bg: rgba(33, 36, 51, 0.9);
  --dark-infos-box-bg: #b4cdff;
  --dark-filter: #161927bd;
  --danger-color: rgb(255, 94, 94);
  --green: #01c101;
  
}

:root[data-theme="light"] {
  --text: var(--light-text);
  --text2: var(--light-text2);
  --text3: var(--light-text3);
  --bg: var(--light-bg);
  --bg1: var(--light-bg1);
  --bg2: var(--light-bg2);
  --popup-bg: var(--light-popup-bg);
  --infos-box-bg: var(--light-infos-box-bg);
  --filter: var(--light-filter);
}

:root[data-theme="dark"] {
  --text: var(--dark-text);
  --text2: var(--dark-text2);
  --text3: var(--dark-text3);
  --bg: var(--dark-bg);
  --bg1: var(--dark-bg1);
  --bg2: var(--dark-bg2);
  --popup-bg: var(--dark-popup-bg);
  --infos-box-bg: var(--dark-infos-box-bg);
  --filter: var(--dark-filter);
}

.wapper {
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-details {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(22, 25, 39, 50%);
  width: clamp(300px, 80%, 1000px);
  min-height: 460px;
  padding: 3vw;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 200px;
  /* background-color: lightblue; */
}

.imgBox {
  width: clamp(50px, 20%, 200px);
  aspect-ratio: 1 / 1;
  border-radius: 100vw;
  overflow: hidden;
}

.imgBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infosBox > .titleBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
}

.titleBox > span {
  color: grey;
  transform: translateY(5px);
}

h1 {
  font-size: var(--h2-size);
}

.card-main {
  /* background-color: lightblue; */
  padding-left: min(20vw, 190px);
  padding-top: 20px;
}

.card-main > p {
  font-size: var(--text-m-size);
} 

.card-main > p > span {
  font-weight: 600;
}

.card-main > * + * {
  margin-top: 20px;
}


.goBackBox {
  position: absolute;
  top: 50px;
  left: 100px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.goBackBox > a {
  color: var(--text);
  text-decoration: none;
  font-size: var(--text-p-size);
  /* font-weight: 600; */
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Outfit', sans-serif;
}

.goBackBox > a > i {
  transition: 0.3s;
}

.goBackBox > a:hover > i {
  transform: translateX(-7px);
}

/* @media (max-width: 600px) {
  .imgBox {
    display: none;
  }
} */